body {
    margin: 0%;
    padding: 0%;
}
* {
    box-sizing: border-box;
}

#root {
    height: 100vh;
    width: 100vw;
    background-color: teal;
    display: flex;
    flex-direction: row;
}

.board {
    height: 100%;
    width: 50%;
    border: 2px solid white;
    display: flex;
    flex-direction: column;
}

.display {
    height: 100%;
    width: 50%;
    border: 2px solid white;
    display: flex;
    flex-direction: column;
}

.title {
    text-align: center;
    height: 10%;
    width: 100%;
    border: 3px solid white;
    font-size: 50px;
    color: white;
}

.content {
    height: 90%;
    width: 100%;
    border: 3px solid white;
}

.ttt {
    height: 75%;
    width: 75%;
    border: 2px solid white;
    margin: 10%;
    display: flex;
    flex-direction: column;
}

.ttt button {
    width: 100%;
    cursor: pointer;
    font-size: 100px;
}

.ttt button:hover {
    background-color: aquamarine;
}

.row {
    height: 100%;
    border: 2px solid white;
    border-radius: 5px;
    display: flex;
    flex-direction: row;

}

.history {
    height: 75%;
    width: 75%;
    border: 2px solid white;
    border-radius: 5px;
    margin: 10%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.history button {
    padding: 20px;
    font-size: 30px;
    cursor: pointer;
}

.history button:hover {
    background-color: aquamarine;
}